[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    chroma_db,
    .eggs,
    *.egg
max-complexity = 10
per-file-ignores =
    __init__.py:F401
